/*!************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/antd/dist/reset.css ***!
  \************************************************************************************/
/* stylelint-disable */
html,
body {
  width: 100%;
  height: 100%;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@-ms-viewport {
  width: device-width;
}
body {
  margin: 0;
}
[tabindex='-1']:focus {
  outline: none;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 500;
}
p {
  margin-top: 0;
  margin-bottom: 1em;
}
abbr[title],
abbr[data-original-title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  border-bottom: 0;
  cursor: help;
}
address {
  margin-bottom: 1em;
  font-style: normal;
  line-height: inherit;
}
input[type='text'],
input[type='password'],
input[type='number'],
textarea {
  -webkit-appearance: none;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1em;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 500;
}
dd {
  margin-bottom: 0.5em;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1em;
}
dfn {
  font-style: italic;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
pre,
code,
kbd,
samp {
  font-size: 1em;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
pre {
  margin-top: 0;
  margin-bottom: 1em;
  overflow: auto;
}
figure {
  margin: 0 0 1em;
}
img {
  vertical-align: middle;
  border-style: none;
}
a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: 0.75em;
  padding-bottom: 0.3em;
  text-align: left;
  caption-side: bottom;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.5em;
  padding: 0;
  color: inherit;
  font-size: 1.5em;
  line-height: inherit;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
mark {
  padding: 0.2em;
  background-color: #feffe6;
}

/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./package/index.css ***!
  \*********************************************************************/
@charset "utf-8";

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 6px;
}
/* 外层轨道 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.1);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.2);
}

.json-schema-react-editor {
  font-size: 14px;
}

.json-schema-react-editor .array-item-type {
  text-align: left;
}

.json-schema-react-editor .add-btn {
  margin: 8px;
}

.json-schema-react-editor .pretty-editor {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  height: 800px;
}

.json-schema-react-editor .import-json-button {
  margin: 5px;
}

/* Ant Design v5 兼容性样式 */
.json-schema-react-editor .certain-category-search .ant-select-selector {
  height: 32px;
}

.json-schema-react-editor .certain-category-search .ant-select-selection-search {
  display: unset;
}
/*!******************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./package/components/SchemaComponents/schemaJson.css ***!
  \******************************************************************************************************/

.json-schema-react-editor .option-formStyle{
  /* padding-left: 25px; */
  padding-Top: 8px
}

.json-schema-react-editor .required-icon {
  font-size: 1em;
  color: red;
  font-weight: bold;
  padding-left: 5px
}

.json-schema-react-editor .object-style {
  /* border-left: 2px dotted gray; */
  /* padding-left: 8px; */
  padding-top: 6px;
  /* margin-left: 20px; */
  margin-top: 8px;
}



.json-schema-react-editor .col-item-type{
  text-align: center  
}

.json-schema-react-editor .down-style {
  cursor: pointer;
}


.json-schema-react-editor .col-item-desc{
  text-align: center  
}

.json-schema-react-editor .col-item-mock{
  text-align: center;
  padding-right: 6px;
}

.json-schema-react-editor .col-item-setting{
  padding-left: 6px;
  cursor: pointer;
}

.json-schema-react-editor .plus {
  color: #2395f1
}

.json-schema-react-editor .close {
  color: #ff561b
}

.json-schema-react-editor .array-type {
  margin-top: 8px;
}

.json-schema-react-editor .delete-item {
  padding-right: 8px;
}

.json-schema-react-editor .object-style .name-item .ant-input-group-addon {
  background-color: unset;
  border: unset;
}

.json-schema-react-editor .object-style  .name-item .ant-input-group > .ant-input:first-child, .ant-input-group-addon:first-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.json-schema-react-editor .icon-object {
  color: #0d1b3ea6;
  font-weight: 400;
  font-size: 10px;
}

.json-schema-react-editor .down-style-col{
  width: 10px;
}



.json-schema-react-editor .wrapper{
  padding-left: 8px;
}

/* .schema-content {
  margin-left: 20px;
} */

.json-schema-react-editor .adv-set {
  padding-right: 8px;
  color: #00a854;
}

.json-schema-react-editor .type-select-style {
  width: 90%
}

.json-schema-react-editor-import-modal .ant-tabs-nav .ant-tabs-tab{
  height: auto
}

.json-schema-react-editor-adv-modal .other-row {
  margin-bottom: 16px;
}

.json-schema-react-editor-adv-modal .other-label {
  text-align: right;
  padding-right: 8px;
}

.json-schema-react-editor-adv-modal .default-setting {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  border-left: 3px solid #2395f1;
  padding-left: 8px;
}

.json-schema-react-editor-adv-modal .ant-modal-body{
  min-height: 400px;
}

.json-schema-react-editor-adv-modal .ant-modal-body .ace_editor {
  min-height: 350px;
}

.json-schema-react-editor-adv-modal-select .format-items-title {
  color: #999;
  position: absolute;
  right: 16px;
}

.ant-modal-close-x {
  display: flex;
  justify-content: center;
  align-items: center;
}
